body{
    display: block;
}
#azul{
    background-color: blue;
    height: 1000px;
    width: 100%;
  
}
#rojo{
    background-color: red;
    height: 1000px;
    width: 100px;
    transition: width 0.5s;
    


}
@media(min-width:768px) {
    #rojo{
        width: 10px;
    }
}
