h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #000000;
}

li {
  text-align: left;
  padding: 14px 80px;
  padding-left: 10px;
  color: white;
  text-decoration: none;
}

.menu-horizontal {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  list-style: none;
  margin-bottom: 20px;
}
.menu-vertical {
  display: flex;
  text-align: left;
  height: 600px; /*ALTURA SIEMPRE CON PIXELES*/
}
.img {
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
  height: 400px;
}
.container-final {
  background-color: grey;
  padding: 10px;
  text-align: center;
}
.texto {
  display: flex;
  flex-direction: column;
}
#container-imagenes {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  text-align: center;
  width: 100%;
}
.container-centro {
  display: flex;
  flex-direction: row;
}
