body {
  background-color: grey;
}
#first {
  background-color: red;
  width: 50%;
  padding: 10px;
  margin: 10px;
  /* SI QUIERES APLICARLO A UNA ZONA CONCRETA TIENES QUE ESPECIFICAR LA ZONA "BOTTOM"*/
  border-bottom-style: dashed;
  border-width :2px;
  border-bottom-color: yellow; 
  border-top-style: solid;
  border-top-width: 2px ;
  border-top-color: green ;
}


#second {
  background-color: blue;
  width: 25%;
  padding: 10px;
  margin: 10px;
/* SI QUIERES APLICARLO A UNA ZONA CONCRETA TIENES QUE ESPECIFICAR LA ZONA "BOTTOM"*/

  border-bottom-style: dashed;
  border-width: 2px;
  border-bottom-color: yellow;
  border-top-style: solid;
  border-top-width: 2px ;
  border-top-color: green ;
}

.negrita {
Font-weight: bold; /* Negrita */
}
.subrayado {
  text-decoration: underline; /* Subrayado */
}

img{
  background-size:800px ;
  height:200px; /* altura*/
  width: 50%;
  
}
div:nth-child(2) img{
  height: 200px;
  width: 100%;
}
